@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: antiquewhite;
}

#popup {
  color: #ff7102;
  display: block;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

* {
  font-family: "Rubik", sans-serif !important;
}
